


header {
    font-size:60px;
    color: teal;
    
    text-shadow: -4px 4px goldenrod;
    font-family:Impact, Haettenschweiler, 'Arial Narrow', sans-serif;
    text-align:center;
    border:18px solid;
    border-color: orange;
    border-radius: 25px;
    background-color:rgb((255, 98, 0));
    padding:40px;
}


body{
    font-size: 18px;
    color: blue;
}
h1, h2 {
    font-family: Arial;
}



li {font-size: 14px}
h2 {color: red; font-size: 24px;}}

h1 {color: rgb(157, 20, 220); font-size: 36px; text-align: center}



